body {
    font-family: sans-serif;
} 

header {
    background-color: #00C90D;
    width: 990px;
    height: 50px;
}    

nav {
    color: black;
    padding: 10px;
}

footer {
     background-color:black ;
}
